<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Battleships Web</h1>
<<<<<<< HEAD
    <h2>ENTER PLAYER 1 NAME</h2>
    <form action='/new_game' method="post">
      <input type="text" name="user_name" id="button" required>
=======
    <h2>Enter First Players Name...</h2>
    <form action='/enter_second_name' method="post">
      <input type="text" name="player1_name" id="button" required>
>>>>>>> 83c81f4efe0e0368750391f2631fb8266c074f86
      <input type="submit" value="Begin" id="button">
    </form>
  </body>
</html>