<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Battleships Web</h1>
    <h2>Player 1 place ship</h2>
    <form action='/new_game' method="post">
      <input type="text" name="cell" id="button" required>
      <input type="submit" value="Begin" id="button">
    </form>
  </body>
</html>