body
{
  background-color: black;
  text-align: center;
}

h1
{
  margin-top: 225px;
  font-weight: lighter;
  font-family: courier;
  color: white;
  font-size: 100px;
}

h2
{
  color: white;
  font-family:courier;
}

h3
{
  color: white;
  font-family:courier;
  font-size: 50px;
}

#button
{
  border-radius: 100px;
  font-family: courier;
  color: white;
  background-color: black;
  font-size:20px;
}

#button:hover
{
  background-color: silver;
}

form
{
  text-align: center;
}

table.center 
{
  margin-left:auto;
  margin-right:auto;
  height: 90%;
  width: 60%;
}

th
{
  color: white;
  font-family: courier;
}

td
{
  border: 2px solid white;
  color: white;
  text-align: center;
}

<<<<<<< HEAD
a
=======
#button_red
>>>>>>> 83c81f4efe0e0368750391f2631fb8266c074f86
{
  border-radius: 100px;
  font-family: courier;
  color: white;
  background-color: red;
  font-size:20px;
}

<<<<<<< HEAD
audio{
  display: none;
=======
#button_blue
{
  border-radius: 100px;
  font-family: courier;
  color: white;
  background-color: blue;
  font-size:20px;
}

#button_grey
{
  border-radius: 100px;
  font-family: courier;
  color: white;
  background-color: gray;
  font-size:20px;
}

a 
{
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
<<<<<<< HEAD
>>>>>>> 83c81f4efe0e0368750391f2631fb8266c074f86
=======
}

audio
{
  display: none;
>>>>>>> 517836302e600f36926ea71d1f3844deddd58dd6
}